/* Christmas Theme */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
.merry-christmas {
    font-size: 9rem;
    font-family: 'Great Vibes', cursive;
    color: hsl(261, 24%, 84%);
    letter-spacing: .3rem;
    flex-direction: column;
  }
  .text-border {
    -webkit-text-stroke: .1rem black;
  }
  .merry-p {
    padding: 0;
    margin-block-start: 3rem;
    margin-block-end: 0rem;
  }
  
  .tree {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block-start: 2rem;
  }
  
  .layer {
    background-color: transparent;
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 100px solid green;
    margin-bottom: -50px;
  }
  

  .layer:nth-child(1) {
    border-left-width: 45px;
    border-right-width: 45px;
    border-bottom-width: 75px;
    margin-bottom: -37px;
  }
  
  .layer:nth-child(2) {
    border-left-width: 50px;
    border-right-width: 50px;
    border-bottom-width: 85px;
    margin-bottom: -42px;
  }
  
  .layer:nth-child(3) {
    border-left-width: 55px;
    border-right-width: 55px;
    border-bottom-width: 95px;
    margin-bottom: -47px; 
  }
  
  .base {
    width: 20px;
    height: 50px;
    background-color: brown;
    margin-bottom: -25px; 
  }
  .star {
    position: relative;
    display: block;
    color: yellow;
    margin-bottom: -20px;
  }
  
  .star:before, .star:after {
    content: '';
    position: absolute;
    top: 0;
    color: yellow;
  }
  

  .star {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background: currentColor;
    width: 30px; 
    height: 30px; 
    line-height: 30px;
    text-align: center;
    margin-left: 0px;
  }
  .christmas-border {
    position: relative;
    padding: 1rem; 
    background: white; 
    
}

.christmas-border:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -1rem; 
    background: repeating-linear-gradient(
        45deg,
        red,
        red .5rem,
        white .5rem,
        white 1rem
    );
    border-radius: 1.5rem; 
}