body {
    font-family: Arial, sans-serif;
    background-color: hsl(208, 57%, 20%);
    margin: 0;
    padding: 20px;
    font-size: 62.5%;
  }
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}
.container {
  width: 50%;
  background: #EFEFEF;
  padding: 2rem;
}
.vertical-align {
  align-items: center;
}
.form-container label {
  display: block;
}
.border-color {
  border: .01rem solid black;
}  
.textfield {
  border: .1rem solid #c1c0c0;
}
.checkbox {
  margin-bottom: 0rem;
}
.button {
  background-color: hsl(261, 24%, 84%);
  font-size: .7rem;
  padding: .3rem 1.8rem;
  cursor: pointer;
}
.border-rounded-05 {
  border-radius: 0.5rem;
}
.border-rounded-03 {
  border-radius: 0.3rem;
}
.button:hover {
  background-color: #ccc;
}
.empty-div {
  font-size: 1rem;
  border: .01rem solid #000;
  padding: .5rem;
  text-align: center;
  color: #666;
  margin-block-start: 1rem;
}
h1 {
  width: 100%;
  font-size: 2rem;
  text-align: center;
  color: white;
  font-weight: 400;
}
.flexbox {
  display: flex;
}
.flexbox-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.f-space-between {
  justify-content: space-between;
}

.flexbox__container {
  display: flex;
  flex-wrap: wrap;
  min-height: 4rem;
}
.fbasis-70 {
  flex-basis: 70%;
}
.flexbox__item:nth-child(1) {
  flex-basis: 100%;
}
.flexbox__item:nth-child(2) {
  flex-basis: 100%;
}
.flexbox__item:nth-child(3) {
  flex-basis: 32.5%;
}
.flexbox__item:nth-child(4) {
  flex-basis: 100%;
}
.flexbox__item:nth-child(1), .flexbox__item:nth-child(2), .flexbox__item:nth-child(3) {
  font-size: .8rem;
}
.padding-bottom {
  padding-bottom: .5rem;
}